*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  margin: 0;
  border: 0 solid;
  padding: 0;
}
html,
body {
  height: 100%;
}
html {
  font-size: 112.5%;
  @media screen and (min-width: 40rem) {
    font-size: 125%;
  }
  scroll-behavior: smooth;
}
body {
  background: var(--color-white);
  color: var(--color-gray-dark);
  font-weight: 400;
  line-height: 1.7;
  font-family: var(--font-family);

  @media screen and (min-width: 40rem) {
    padding: 1.5rem;
  }
}
a,
button {
  &:active,
  &:focus {
    outline: none;
  }
}
a {
  &:link,
  &:visited {
    color: inherit;
    text-decoration: inherit;
  }
}
button,
input,
select,
optgroup,
textarea,
::file-selector-button {
  opacity: 1;
  border-radius: 0;
  background-color: transparent;
  color: inherit;
  font: inherit;
  font-variation-settings: inherit;
  font-feature-settings: inherit;
  letter-spacing: inherit;
}
p + p {
  margin-top: 0.1rem;
}
ol,
ul,
menu {
  list-style: none;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}
