@layer base;
@layer base {
  :root {
    --background: hsl(250, 100%, 92%);
    --foreground: hsl(265, 74%, 35%);
    --color-mint: hsl(78, 100%, 50%);
    --color-mint-dark: hsl(78, 100%, 30%);
    --danger: var(--color-red-500);
    @media (prefers-color-scheme: dark) {
      --background: hsl(265, 74%, 35%);
      --foreground: hsl(250, 100%, 92%);
    }
    --font-family: 'Roboto', sans-serif;
  }
  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Italic.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }
  html,
  body {
    height: 100%;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-family);
    font-size: 1.125rem;
    @media screen and (min-width: 80rem) {
      font-size: 1.25rem;
    }
  }
  a,
  button {
    &:active,
    &:focus {
      outline: none;
    }
  }
  a {
    color: inherit;
    text-decoration: inherit;
  }
  button,
  input,
  select,
  optgroup,
  textarea,
  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }
  p + p {
    margin-top: 0.1rem;
  }
  ol,
  ul,
  menu {
    list-style: none;
  }
  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
  }
  img,
  video {
    max-width: 100%;
    height: auto;
  }
}

/* FINE LAYER BASE */

section {
  max-width: 80rem;
  margin: 0 auto;
  padding: 20px 5px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  color: var(--color-mint-dark);
  @media (prefers-color-scheme: dark) {
    color: var(--color-mint);
  }
}
h1 {
  text-align: center;
}

#message {
  text-align: center;
  margin: 1rem 0;
}

section#font {
  max-width: 400px;
  margin: 0 auto;
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 6rem;
    margin: 1rem 0;
    font-size: 1.875rem;
    &.font-sans {
      font-family: sans-serif;
    }
    span:last-of-type {
      font-size: 9rem;
    }
  }
}

.test {
  mask: none;
}
