header#header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background: linear-gradient(
      to right bottom,
      lch(from var(--color-primary-light) l c h / 0.8),
      lch(from var(--color-primary-dark) l c h / 0.8)
    ),
    url('../assets/images/hero.webp') no-repeat top / cover;
  height: 100%;

  .logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    img {
      width: 2rem;
    }
  }
  .text-box {
    text-align: center;

    h1 {
      margin-bottom: 3rem;
      color: var(--color-white);
      & > span {
        display: block;
        animation: moveInRight 1s ease-out;
        padding-left: 0.2rem;
        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 0.2rem;
        &:first-child {
          animation: moveInLeft 1s ease-out;
          padding-left: 0.1rem;
          font-size: 3rem;
          letter-spacing: 0.1rem;
        }
        @media screen and (min-width: 40rem) {
          padding-left: 0.9rem;
          letter-spacing: 0.9rem;

          &:first-child {
            padding-left: 1.75rem;
            letter-spacing: 1.75rem;
          }
        }
      }
    }
  }
}
