.center {
  text-align: center;
}

.px-xs {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  @media screen and (min-width: 40rem) {
    padding-right: 0;
    padding-left: 0;
  }
}
.mb-sm {
  margin-bottom: 0.5rem;
  @media screen and (min-width: 40rem) {
    margin-bottom: 1rem;
  }
}
.mb-md {
  margin-bottom: 1rem;
  @media screen and (min-width: 40rem) {
    margin-bottom: 2rem;
  }
}
.mb-lg {
  margin-bottom: 2rem;
  @media screen and (min-width: 40rem) {
    margin-bottom: 4rem;
  }
}
