:root {
  /* COLORS */
  --color-white: lch(100% 0 0);
  --color-gray-dark: lch(50 0 0);
  --color-black: lch(0% 0 0);
  --color-primary-light: lch(77.98 62.23 137.36);
  --color-primary: lch(71.74 56.21 149.81);
  --color-primary-dark: lch(65.58 49.3 163.72);

  /* TYPOGRAPHY */
  --font-family: 'Lato', sans-serif;
}
