---
import Button from '@/components/Button.astro';
import FeatureBox from '@/components/FeatureBox.astro';
import Layout from '@/layouts/Layout.astro';
import ImagesComposition from '@/components/ImagesComposition.astro';
import TourCard from '@/components/TourCard.astro';
import type { ImageMetadata } from 'astro';
import StoryCard from '@/components/StoryCard.astro';
---

<Layout title="Natours | Exciting tours for adventurous people">
  <main>
    <!-- //////////////////////////////////////////////// -->
    <!-- ABOUT SECTION -->
    <section id="about">
      <div class="mb-lg center">
        <h2>EXCITING TOURS FOR ADVENTUROUS PEOPLE</h2>
      </div>
      <div class="px-xs about-content">
        <div class="text">
          <h3>YOU'RE GOING TO FALL IN LOVE WITH NATOURS</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam,
            voluptatum. Asperiores, quas. Quisquam, voluptatum. Asperiores,
            quas.
          </p>
          <h3>LIVE ADVENTURES LIKE YOU NEVER HAD BEFORE</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ex
            beatae delectus eligendi laboriosam quam pariatur. Ipsa, facilis a,
            tempora aspernatur unde quia distinctio eius optio eum doloribus
            voluptates deleniti!
          </p>
          <Button href="#" class="btn-text">Learn more &rarr;</Button>
        </div>
        <ImagesComposition />
      </div>
    </section>

    <!-- FEATURES SECTION -->
    <section id="features">
      <div class="px-xs cards">
        <FeatureBox
          title="EXPLORE THE WORLD"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Asperiores, quas."
          icon="icon-basic-world"
        />
        <FeatureBox
          title="MEET NATURE"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Asperiores, quas."
          icon="icon-basic-compass"
        />
        <FeatureBox
          title="FIND YOUR WAY"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Asperiores, quas."
          icon="icon-basic-map"
        />
        <FeatureBox
          title="LIVE A HEALTHIER LIFE"
          description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum. Asperiores, quas."
          icon="icon-basic-heart"
        />
      </div>
    </section>

    <!-- TOURS SECTION -->
    <section id="tours">
      <div class="mb-lg center">
        <h2 class="mb-sm">MOST POPULAR TOURS</h2>
      </div>
      <div class="px-xs cards">
        <TourCard
          gradient1="color-secondary-light"
          gradient2="color-secondary-dark"
          tour="1"
        />
        <TourCard
          gradient1="color-primary-light"
          gradient2="color-primary-dark"
          tour="2"
        />
        <TourCard
          gradient1="color-tertiary-light"
          gradient2="color-tertiary-dark"
          tour="3"
        />
      </div>
    </section>

    <!-- STORIES SECTION -->
    <section id="stories">
      <div class="bg-video">
        <video muted autoplay loop>
          <source src="src/assets/images/video-small.mp4" type="video/mp4" />
          <source src="src/assets/images/video-small.webm" type="video/webm" />
          Your browser is not supported
        </video>
      </div>
      <div class="mb-lg center">
        <h2 class="mb-sm">WE MAKE PEOPLE GENUINELY HAPPY</h2>
      </div>
      <StoryCard story="1" />
      <StoryCard story="2" />
      <div class="center">
        <Button href="#" class="btn-text">Read all stories &rarr;</Button>
      </div>
    </section>
  </main>
</Layout>
