---
import stories from '@/data/stories.json';
import { Image } from 'astro:assets';
const storyImages = import.meta.glob<{ default: ImageMetadata }>(
  '@/assets/images/stories/*.webp'
);
const storyImagesValues = Object.values(storyImages);

const { story } = Astro.props;
const { title, name, text } = stories[story - 1];
---

<div class="story">
  <figure class="image">
    <Image src={storyImagesValues[story - 1]()} alt="person on a tour" />
    <figcaption>{name}</figcaption>
  </figure>
  <div class="text">
    <h3 class="mb-sm">{title}</h3>
    <p>{text}</p>
  </div>
</div>

<style>
  .story {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    box-shadow: 0 1.5rem 3rem lch(from var(--color-black) l c h / 0.1);
    border-radius: 3px;
    background-color: lch(from var(--color-white) l c h / 0.6);
    padding: 1rem;

    figure.image {
      position: relative;
      z-index: 1;
      clip-path: circle(50% at 50% 50%);
      width: 7.5rem;
      height: 7.5rem;

      img {
        transform: scale(1.4);
        transition: 0.5s;
        height: 100%;
        object-fit: cover;
      }
      figcaption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        opacity: 0;
        transition: 0.5s;
        color: var(--color-white);
        font-size: 0.85rem;
        text-align: center;
      }
    }
    &:hover {
      figure.image {
        img {
          transform: scale(1);
          filter: blur(3px) brightness(0.7);
        }
        figcaption {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
    @media screen and (min-width: 40rem) {
      display: block;
      transform: skewX(-12deg);
      margin: 0 auto;
      padding: 3rem;
      padding-left: 4.5rem;
      width: 60%;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
      & > * {
        transform: skewX(12deg);
      }
      figure.image {
        float: left;
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-1.5rem) skewX(12deg);
      }
      .text {
      }
    }
  }
</style>
