footer {
  background-color: var(--color-gray-dark-3);
  padding: 5rem 0;
  font-size: 0.7rem;

  .logo {
    margin-bottom: 4rem;
    img {
      margin: 0 auto;
      width: 5rem;
    }
  }
  .footer-content {
    nav,
    .copy {
      border-top: 2px solid var(--color-gray-dark);
      padding: 1rem 0;
    }
    nav {
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        li {
          transition: 0.2s;
          width: fit-content;
          color: var(--color-gray-light-1);
          &:active,
          &:hover {
            transform: rotate(5deg) scale(1.1);
            box-shadow: 0 0.5rem 1rem lch(from var(--color-black) l c h / 0.4);
            color: var(--color-primary);
          }
        }
      }
    }
  }
  @media screen and (min-width: 40rem) {
    .logo img {
      width: 7.5rem;
    }
    .footer-content {
      display: flex;
      justify-content: space-between;
      gap: 4rem;
      margin: 0 auto;
      width: 80%;
      nav,
      nav {
        ul {
          justify-content: start;
        }
      }
    }
  }
}
