header#header {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 75svh, 0 100%);
  background: linear-gradient(
      to right bottom,
      lch(from var(--color-primary-light) l c h / 0.8),
      lch(from var(--color-primary-dark) l c h / 0.8)
    ),
    url('../../assets/images/hero.webp') no-repeat top / cover;
  height: 95svh;

  .logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
    img {
      width: 2rem;
    }
  }
  .text-box {
    text-align: center;
  }
}
