---
import BaseHead from '@/components/BaseHead.astro';
import { Image } from 'astro:assets';
import logo_white from '@/assets/images/logo-white.png';
import Button from '@/components/Button.astro';

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>
  <body>
    <header id="header">
      <div class="logo-box">
        <a href="/">
          <Image src={logo_white} alt="logo" loading="eager" />
        </a>
      </div>
      <div class="text-box">
        <h1>
          <span>OUTDOORS</span>
          <span>IS WHERE LIFE HAPPENS</span>
        </h1>
        <Button href="#" class="btn btn--white btn--animated"
          >DISCOVER OUR TOURS</Button
        >
      </div>
    </header>

    <slot />

    <footer></footer>
    <script src="@/lib/app.ts"></script>
  </body>
</html>
